span.highlight {
  color: var(--accent);
}

section.divider {
  margin-top: 4rem;

  span {
    display: block;

    line-height: 1;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1001px) {
  section.description {
    display: grid;
    grid-gap: 0.5rem;
  
    article.row {
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    
      p {
        grid-area: p;
      }
    
      div {
        background-image: url("/static/images/bg.jpg");
        background-position: center center;
        background-size: cover;
        border-radius: 0.5rem;
    
        &:first-of-type {
          grid-area: img-1;
        }
    
        &:nth-of-type(2) {
          grid-area: img-2
        }
      }
    
      &-1, &-5 {
        grid-template-areas: "p p img-1 img-1";
      }
    
      &-2, &-4 {
        grid-template-areas: "img-1 p p img-2";
      }
    
      &-3 {
        grid-template-areas: "img-1 img-1 p p";
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  section.description article.row {
    margin-bottom: 1rem;

    div.bg {
      display: none;
    }
  }
}