section.projects {
  margin-top: 0.5rem;

  article.project {
    padding-top: 0.5rem;

    border-top: 1px solid var(--foreground-extra-light);

    section.title {
      h2 {
        line-height: 1;
        text-transform: uppercase;
      }

      & > a {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 1001px) {
  section.projects article.project section.title {
    display: grid;
    align-content: space-between;
  }
}
